<h1>Welcome to Company's Leave Portal</h1>
<p>Dear <%= @employee.name %>,</p>
<p>Your account has been created with the following details:</p>
<p>Email: <%= @employee.email %></p>
<p>Password: <%= @password %></p>
<p>Please login with these credentials whenever you are requesting for leave.</p>
<p>Thank you for joining our company.</p>